<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row text-center">
            <div class="col text-muted small">
                &copy; @DateTime.Now.Year School Track Tracker. All rights reserved.
            </div>
        </div>
    </div>
</div>

@code { }
